@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: "Cedarville Cursive", cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #4f46e5, #9333ea, #6b21a8, #8b5cf6);
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
 
}

#hero {
  padding-top: var(--navbar-height);
}

.text-gradient {
  background: linear-gradient(90deg, #6b46c1, #8b5cf6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
