@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
.cursive {
  font-family: "Cedarville Cursive", cursive;
}

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le défilement horizontal */
  background: #0a0a0a; /* Assurez-vous que la couleur de fond est correcte */
  height: 100%; /* Important pour éviter le "tirer" */
  overscroll-behavior: none;
}

/* Section Hero */
#hero {
  padding-top: var(--navbar-height, 64px); /* Fallback valeur de 64px */
}

/* Animations */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #4f46e5, #9333ea, #6b21a8, #8b5cf6);
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
}

/* Gradient de Texte */
.text-gradient {
  background: linear-gradient(90deg, #6b46c1, #8b5cf6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Utilities pour scrollbar */
@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Edge */
  }
}
