@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
.cursive {
  font-family: "Fleur De Leah";
  font-weight: 900;
  font-style: bold;
}

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Body */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  /* Assurez-vous que le contenu peut dépasser */
  height: auto;
  /* Autorise la hauteur dynamique basée sur le contenu */
  overflow-x: hidden;
  /* Empêche le défilement horizontal */
  background: #0a0a0a;
  /* Couleur de fond */
  overscroll-behavior: auto;
}

/* Animations */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #4f46e5, #9333ea, #6b21a8, #8b5cf6);
  background-size: 400% 400%;
  animation: gradientBackground 10s ease infinite;
}

.text-gradient {
  background: linear-gradient(90deg, #6b46c1, #8b5cf6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

}

#__next {
  display: flex;
  flex-direction: column;
  /* Dispose les sections verticalement */
  min-height: 100vh;
  /* S'assure que le conteneur occupe au moins toute la fenêtre */
}